@import "shark-css3";
@import "var";
body {
    color: #676a6c;
    background: #2F4050;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

.g-left-side {
    width: 220px;
    position: absolute;
    min-height: 100%;
}

.g-right-side {
    position: relative;
    margin: 0 0 0 220px;
    background: #f3f3f4;
    min-height: 1000px;
}

a {
    font-size: 13px;
}

.white-bg {
    background: white;
}

.text-warning {
    color: #f8ac59;
}

.text-danger {
    color: #ed5565;
}